@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lobster+Two|Oswald|Pacifico|Quicksand|Roboto|Shadows+Into+Light');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
header {
  /*border-bottom: : 10px;
  border-color: black;*/
  background-color: pink;
  /*position: fixed;*/
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0;
  font-family: Arial;
}

header h2 a {
  text-decoration: none;
  margin: 40px;
  font-size: 3vw;
}

header h2 a:visited {
  color: black;
}

header h2 a:hover {
  color: white;
}
/*
header h2 a::nth-letter(5) {
text-transform: capitalize;
}*/


header h2 {
  float: left;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  font-weight: bold;
}

header nav {
  float: right;
  margin-right: 40px;
  font-family: 'Quicksand';
}

header ul {
  list-style: none;
}

header nav li {
  float: left;
  padding: 15px;
}

header nav li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header nav li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

main h1, main h2 {
  text-align: center;
}

/*main {
 margin: 0px;
 padding: 0px;
}*/

main {
  margin-top: -5px;
}

body {
  margin:0px;
  font-family: 'Quicksand';
}

#main-logo {
  /*display: inline-block;*/
  position: relative;
}
#main-logo img {
  /*position: relative;*/
  width: 100%;
  top: 0px;
  left: 0px;
}

#main-logo h1 {
  position: absolute;
  top: 70px;
  font-size: 10vw;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  font-weight: bold;
  opacity: .75
}

#main-logo h1::nth-letter(5) {
  text-transform: uppercase;
}
/*section #join-the-club {
display: inline-block;
}*/

/*#join-the-club h2, #join-the-club p {
float: left;
width: 45%;
text-align: justify;
padding: 30px;
}*/

section#popular-posts {
  padding: 0 10%;
  margin-bottom: 100px;
}

/*.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}*/

/*div {
  margin: 30px;
  padding:10px;
  width: 95%;
  /*height: 980px;*/
/*}*/

#popular-posts h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin: 20px;
}

#popular-posts article {
  /*float: left;*/
  display: inline-block;
  width: 28%;
  border: solid #000;
  border-width: 3 5px;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  min-height: 400px;
  max-height: :450px;
  text-align: center;
  vertical-align: text-top;
}

#popular-posts h3 {
  border-bottom: solid #000;
  border-width: 3 5px;
  padding-bottom: 10px;
  margin: 0px;
  margin-right: -10px;
  margin-left: -10px;
}

#popular-posts a {
  border: dotted #000;
  border-width: 3 5px;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  color: black;
}

#popular-posts p {
  margin: 30px;
  text-align: center;
  min-height: 50px;
}

#popular-posts a:hover {
  border: solid #000;
  border-width: 3 5px;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  background-color: pink;
  color: white;
}

#join-the-club {
  clear: both;
  display: inline-block;
  background-color: grey;
  margin: -10px;
}

#join-the-club h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
}

#join-the-club article {
  clear: both;
  float: left;
  width: 45%;
  text-align: justify;
  padding: 20px;
  margin-left: 5%;
}

#join-the-club img {
  max-width: 45%;
  padding: 20px;
}

#everybody {
  clear: both;
  /*display: inline-block;*/
  position: relative;
  padding: 0;
}

#everybody h2{
  /*clear: both;*/
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 10vw;
  font-family: 'Amatic SC', cursive;
  padding: 30px;
}

#everybody img {
  /*clear: both;*/
  position: relative;
  /*background-size: cover;*/
  width: 100%;
  top: 0px;
}

#copyright-disclaimer h4 {
  display: inline-block;
  margin: 0;
}

p#disclaimer {
  display: inline;
}

#copyright-disclaimer {
  display: inline-block;
  width: 48%;
  text-align: justify;
  padding: 30px;
  float: left;
}

#footer-navigation {
  float: left;
  padding: 30px;
}

#footer-navigation a {
  text-decoration: none;
  color: pink;
}
